In [1]:
#IMPORTATION DES DIFFERENTES MODULES NECESSAIRE
import pandas as pd
import numpy as np

In [2]:
#CREATION DE LA DATAFRAME A PARTIR DU FICHIER toy_incomplet.csv
DataFrame = pd.read_csv("toy_incomplet.csv", encoding="UTF-8", sep='\t')
DataFrameC= pd.read_csv("toy_complet.csv", encoding="UTF-8", sep='\t')

In [3]:
#Affichage du dataframe
DataFrame

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,NaN,-1,-1,1,-1,-1,2,-1,-1,-1,...,-1,-1,-1,4,-1,0,-1,-1,4,-1
1,NaN,-1,2,2,-1,0,2,-1,4,-1,...,-1,4,3,-1,2,3,-1,-1,4,1
2,NaN,-1,-1,-1,-1,-1,0,2,-1,4,...,1,0,2,-1,-1,-1,-1,1,5,0
3,NaN,-1,-1,2,0,3,0,-1,1,4,...,1,1,-1,1,4,-1,-1,-1,-1,0
4,NaN,-1,-1,-1,1,2,0,2,1,4,...,1,1,1,-1,-1,3,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,NaN,1,4,-1,0,3,0,2,1,4,...,-1,-1,-1,1,3,-1,-1,-1,4,-1
96,NaN,-1,1,1,-1,-1,2,4,4,-1,...,1,-1,4,-1,3,-1,0,2,-1,-1
97,NaN,-1,-1,-1,-1,3,4,3,-1,-1,...,3,0,3,-1,-1,-1,-1,-1,2,2
98,NaN,4,-1,-1,4,-1,-1,3,4,-1,...,-1,-1,4,-1,2,3,0,2,-1,2
99,NaN,1,4,-1,-1,3,-1,4,1,3,...,1,5,-1,-1,5,-1,-1,-1,1,4

In [4]:
#SELECTION DE LA COLONNE AVEC LES NaN
column_with_nan = DataFrame.columns[DataFrame.isnull().any()]
column_with_nanC = DataFrameC.columns[DataFrame.isnull().any()]

In [5]:
#SUPPRESSION DE LA COLONNE AVEC LES NaN
DataFrame.drop(column_with_nan,1,inplace=True)
DataFrameC.drop(column_with_nan,1,inplace=True)

In [6]:
DataFrame

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,-1,-1,1,-1,-1,2,-1,-1,-1,-1,...,-1,-1,-1,4,-1,0,-1,-1,4,-1
1,-1,2,2,-1,0,2,-1,4,-1,1,...,-1,4,3,-1,2,3,-1,-1,4,1
2,-1,-1,-1,-1,-1,0,2,-1,4,3,...,1,0,2,-1,-1,-1,-1,1,5,0
3,-1,-1,2,0,3,0,-1,1,4,-1,...,1,1,-1,1,4,-1,-1,-1,-1,0
4,-1,-1,-1,1,2,0,2,1,4,4,...,1,1,1,-1,-1,3,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,4,-1,0,3,0,2,1,4,-1,...,-1,-1,-1,1,3,-1,-1,-1,4,-1
96,-1,1,1,-1,-1,2,4,4,-1,0,...,1,-1,4,-1,3,-1,0,2,-1,-1
97,-1,-1,-1,-1,3,4,3,-1,-1,3,...,3,0,3,-1,-1,-1,-1,-1,2,2
98,4,-1,-1,4,-1,-1,3,4,-1,-1,...,-1,-1,4,-1,2,3,0,2,-1,2
99,1,4,-1,-1,3,-1,4,1,3,-1,...,1,5,-1,-1,5,-1,-1,-1,1,4

In [7]:
DataFrameC

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,1,2,1,5,4,2,0,2,4,2,...,3,0,4,4,3,0,1,1,4,4
1,3,2,2,3,0,2,4,4,4,1,...,1,4,3,1,2,3,0,2,4,1
2,0,4,2,1,4,0,2,1,4,3,...,1,0,2,2,3,3,5,1,5,0
3,0,4,2,0,3,0,2,1,4,3,...,1,1,1,1,4,2,5,2,4,0
4,0,5,2,1,2,0,2,1,4,4,...,1,1,1,1,3,3,4,3,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1,4,2,0,3,0,2,1,4,4,...,2,1,1,1,3,4,4,2,4,1
96,5,1,1,3,0,2,4,4,4,0,...,1,4,4,2,3,3,0,2,4,1
97,4,4,2,3,3,4,3,3,1,3,...,3,0,3,3,1,5,3,2,2,2
98,4,2,1,4,0,2,3,4,4,1,...,1,5,4,1,2,3,0,2,3,2
99,1,4,4,0,3,2,4,1,3,3,...,1,5,4,3,5,2,3,3,1,4

In [8]:

def SimPearson(i,k):
    moyennei=0
    moyennej=0

    #moyenne des notes de i à j
    x=0
    for j in range(DataFrame.shape[1]):
        if (DataFrame.iloc[i,j]!=-1 and DataFrame.iloc[k,j]!=-1):
            moyennei=moyennei+DataFrame.iloc[i,j]
            x=x+1
    moyennei=moyennei/x

    #moyenne des notes de k à j
    x=0
    for j in range(DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            moyennej=moyennej+DataFrame.iloc[k,j]
            x=x+1
    moyennej=moyennej/x


    Somme =0
    for j in range (DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            Somme=Somme + (DataFrame.iloc[i,j]-moyennei)*(DataFrame.iloc[k,j]-moyennej)


    s1=0
    s2=0
    for j in range (DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s1=s1+(DataFrame.iloc[i,j]-moyennei)**2

    for j in range (DataFrame.shape[1]):
        if(DataFrame.iloc[k,j]!=-1 and DataFrame.iloc[i,j]!=-1):
            s2=s2+(DataFrame.iloc[k,j]-moyennej)**2

    denominateur= np.sqrt(s1*s2)
    simPearson=Somme/denominateur
    return simPearson
tab=[]
for i in range(1,11):
    tab.append(SimPearson(0,i))
print(tab)

[-0.021661869531394887, 0.015390103569049057, -0.0031177700981050663, -0.03625633827095498, 0.8704091888652138, -0.017336565524381967, 0.04239681505009819, -0.041776380517848946, -0.04073206363690865, -0.050547553333942195]

In [11]:
#COSINUS

def SimCos(i, k) :
    Somme = 0
    for j in range(DataFrame.shape[1]) :
            if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
                Somme = Somme + DataFrame.iloc[i,j] * DataFrame.iloc[k,j]

    Sommeij = 0
    Sommekj = 0
    for j in range(DataFrame.shape[1]) :
        if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
            Sommeij = Sommeij + (DataFrame.iloc[i,j])**2

    for j in range(DataFrame.shape[1]) :
         if(DataFrame.iloc[i,j] != -1 and DataFrame.iloc[k,j] != -1) :
            Sommekj = Sommekj + (DataFrame.iloc[k,j])**2

    denominateur = np.sqrt(Sommeij * Sommekj)
    CosineSim = Somme / denominateur
    return CosineSim


tab=[]
for i in range(1,11):
    tab.append(SimCos(0,i))
print(tab)
SimCos(0,1)

[0.7298658135920659, 0.7307574516167551, 0.7232541811945834, 0.6987796583880003, 0.9632826499266409, 0.7088414160173263, 0.7273146543478126, 0.7096505901950565, 0.6954125337811353, 0.7071048209995106]

0.7298658135920659

In [12]:
#Calcul des similarités
SimilaritesCos= np.zeros(shape=(100,100))
for i in range(100):
    for j in range(100):
        SimilaritesCos[i][j]=SimCos(i,j)
print(SimilaritesCos)

[[1.         0.72986581 0.73075745 ... 0.75292078 0.7009791  0.68791133]
 [0.72986581 1.         0.73149676 ... 0.70912488 0.96640968 0.74288198]
 [0.73075745 0.73149676 1.         ... 0.72627548 0.740446   0.74048625]
 ...
 [0.75292078 0.70912488 0.72627548 ... 1.         0.71082077 0.70279583]
 [0.7009791  0.96640968 0.740446   ... 0.71082077 1.         0.75747823]
 [0.68791133 0.74288198 0.74048625 ... 0.70279583 0.75747823 1.        ]]

In [13]:
pd.DataFrame(SimilaritesCos).to_csv("Similarités_Cos.csv",index=False)

In [14]:
DF=pd.read_csv("Similarités_Pearson.csv")

In [15]:
DFCOS=pd.read_csv("Similarités_Cos.csv")

In [16]:
DF

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,-0.021662,0.015390,-0.003118,-0.036256,0.870409,-0.017337,0.042397,-0.041776,-0.040732,...,0.882206,0.889632,0.059163,0.073918,-0.061829,-0.044545,0.019616,0.073668,-0.079893,-0.138356
1,-0.021662,1.000000,-0.012400,-0.019555,0.040087,-0.052884,0.040004,-0.077823,0.871694,-0.066896,...,-0.043490,-0.049077,-0.093521,-0.037935,-0.126296,-0.002248,0.880697,-0.094366,0.874193,-0.014904
2,0.015390,-0.012400,1.000000,0.858042,0.829948,-0.057602,0.876117,-0.039827,-0.066135,0.856758,...,0.093388,0.055134,0.032722,0.061937,0.024639,0.854322,-0.011382,0.027467,-0.021338,0.051480
3,-0.003118,-0.019555,0.858042,1.000000,0.860809,-0.106848,0.871968,0.072547,-0.007118,0.866098,...,0.046658,-0.043353,0.096954,0.007351,0.140522,0.890402,-0.055188,0.114884,-0.030564,0.019902
4,-0.036256,0.040087,0.829948,0.860809,1.000000,-0.122170,0.874226,-0.027902,0.006482,0.849946,...,-0.013525,-0.075192,-0.009603,-0.076574,0.001144,0.881536,-0.074526,0.047813,0.046683,0.034106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,-0.044545,-0.002248,0.854322,0.890402,0.881536,-0.038374,0.874126,0.072492,-0.130477,0.871754,...,0.053944,0.039380,0.089466,0.040466,0.084522,1.000000,-0.007298,0.053789,-0.050558,0.072204
96,0.019616,0.880697,-0.011382,-0.055188,-0.074526,-0.094069,-0.016439,0.038338,0.867169,-0.111441,...,0.082239,0.053568,-0.050615,-0.030922,-0.057647,-0.007298,1.000000,-0.116449,0.851023,0.065923
97,0.073668,-0.094366,0.027467,0.114884,0.047813,0.047615,0.076160,0.856063,-0.051626,0.031236,...,0.078160,0.124377,0.881356,0.886893,0.860088,0.053789,-0.116449,1.000000,-0.060316,-0.088612
98,-0.079893,0.874193,-0.021338,-0.030564,0.046683,-0.052272,0.044488,-0.038077,0.845781,-0.071870,...,0.023598,0.015882,-0.062442,-0.081337,-0.094200,-0.050558,0.851023,-0.060316,1.000000,0.041176
99,-0.138356,-0.014904,0.051480,0.019902,0.034106,-0.160712,0.132662,-0.019698,-0.025769,0.056948,...,-0.111024,-0.096058,-0.051510,0.111978,0.005219,0.072204,0.065923,-0.088612,0.041176,1.000000

In [17]:
DFCOS

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,1.000000,0.729866,0.730757,0.723254,0.698780,0.963283,0.708841,0.727315,0.709651,0.695413,...,0.966329,0.967069,0.740661,0.728499,0.712571,0.711882,0.738404,0.752921,0.700979,0.687911
1,0.729866,1.000000,0.731497,0.742574,0.747350,0.719995,0.758037,0.706789,0.966246,0.728081,...,0.718258,0.734268,0.713156,0.727208,0.697990,0.742242,0.967582,0.709125,0.966410,0.742882
2,0.730757,0.731497,1.000000,0.961687,0.954475,0.719389,0.966199,0.709242,0.722583,0.959155,...,0.744191,0.720488,0.741391,0.745070,0.726203,0.960864,0.732950,0.726275,0.740446,0.740486
3,0.723254,0.742574,0.961687,1.000000,0.959796,0.708077,0.964168,0.741626,0.722180,0.961089,...,0.733049,0.696789,0.720582,0.713107,0.762063,0.969729,0.704741,0.758601,0.723983,0.741793
4,0.698780,0.747350,0.954475,0.959796,1.000000,0.725534,0.965610,0.713682,0.740117,0.959817,...,0.733669,0.711605,0.713136,0.718748,0.742721,0.967382,0.714878,0.746477,0.754241,0.739672
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0.711882,0.742242,0.960864,0.969729,0.967382,0.726381,0.965169,0.759307,0.702117,0.966049,...,0.739877,0.755145,0.753133,0.733022,0.774786,1.000000,0.736511,0.754164,0.735852,0.755076
96,0.738404,0.967582,0.732950,0.704741,0.714878,0.703291,0.740557,0.719043,0.961813,0.707560,...,0.750170,0.740265,0.705145,0.702144,0.717891,0.736511,1.000000,0.673610,0.959595,0.758859
97,0.752921,0.709125,0.726275,0.758601,0.746477,0.742633,0.742179,0.959079,0.726813,0.733507,...,0.752616,0.761489,0.965581,0.967338,0.963507,0.754164,0.673610,1.000000,0.710821,0.702796
98,0.700979,0.966410,0.740446,0.723983,0.754241,0.735882,0.744206,0.716670,0.956623,0.721464,...,0.741957,0.749514,0.695094,0.704468,0.717414,0.735852,0.959595,0.710821,1.000000,0.757478
99,0.687911,0.742882,0.740486,0.741793,0.739672,0.697026,0.761862,0.720685,0.741727,0.758876,...,0.683989,0.685186,0.683909,0.739783,0.735414,0.755076,0.758859,0.702796,0.757478,1.000000

In [23]:
#Npredite de lutilisateur sur l'item (filtrage utilisateur)

def prediction(u1,i1):
    num=0
    den=0
    moyenne0=0
    c=0
    #for x in range(DataFrame.shape[1]):
        #if DataFrame.iloc[u1,x]!=-1:
            #moyenne0+=DataFrame.iloc[u1,x]
            #c+=1
    #moyenne0=moyenne0/c


    for i in range(DataFrame.shape[0]):
        #moyennei=0
        #c=0
        #for j in range(DataFrame.shape[1]):
            #if DataFrame.iloc[i,j]!=-1:
                #moyennei+=DataFrame.iloc[i,j]
                #c+=1
        #moyennei=moyennei/c

        if DataFrame.iloc[i,i1]!=-1:
            num=num+DFCOS.iloc[u1,i]*(DataFrame.iloc[i,i1])
            den=den+DFCOS.iloc[u1,i]

    return (num/den)

print(prediction(0,1))

3.4105025299844223

In [24]:
CopieIncomplet=DataFrame.copy()

for i in range(DataFrame.shape[0]):
    for j in range(DataFrame.shape[1]):
        if DataFrame.iloc[i,j]==-1:
            CopieIncomplet.iloc[i,j]=prediction(i,j)
CopieIncomplet

,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 991,Unnamed: 992,Unnamed: 993,Unnamed: 994,Unnamed: 995,Unnamed: 996,Unnamed: 997,Unnamed: 998,Unnamed: 999,Unnamed: 1000
0,2.661358,3.410503,1.000000,1.990468,2.480773,2.000000,2.576135,2.115916,3.074936,2.644416,...,2.168324,1.326206,3.169524,4.000000,2.816829,0.000000,2.416200,2.003183,4.000000,2.081783
1,2.717279,2.000000,2.000000,1.971456,0.000000,2.000000,2.705604,4.000000,3.145375,1.000000,...,2.110884,4.000000,3.000000,2.574465,2.000000,3.000000,2.333882,2.037299,4.000000,1.000000
2,2.532367,3.497067,1.410365,1.775491,2.454478,0.000000,2.000000,2.034686,4.000000,3.000000,...,1.000000,0.000000,2.000000,2.564673,2.813734,2.694559,2.654607,1.000000,5.000000,0.000000
3,2.539566,3.500049,2.000000,0.000000,3.000000,0.000000,2.607790,1.000000,4.000000,2.736065,...,1.000000,1.000000,2.883458,1.000000,4.000000,2.713747,2.658684,2.027713,3.117821,0.000000
4,2.538811,3.493630,1.406409,1.000000,2.000000,0.000000,2.000000,1.000000,4.000000,4.000000,...,1.000000,1.000000,1.000000,2.556956,2.805304,3.000000,4.000000,3.000000,3.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,1.000000,4.000000,1.410884,0.000000,3.000000,0.000000,2.000000,1.000000,4.000000,2.734473,...,2.126583,1.332357,2.892569,1.000000,3.000000,2.720591,2.669188,2.027029,4.000000,1.876290
96,2.721582,1.000000,1.000000,1.989703,2.291913,2.000000,4.000000,4.000000,3.136869,0.000000,...,1.000000,1.587075,4.000000,2.585224,3.000000,2.684213,0.000000,2.000000,3.054607,1.927595
97,2.847253,3.539072,1.415736,1.983079,3.000000,4.000000,3.000000,2.107955,2.981663,3.000000,...,3.000000,0.000000,3.000000,2.677223,2.695881,2.800450,2.553059,2.003210,2.000000,2.000000
98,4.000000,3.264842,1.393900,4.000000,2.294386,1.967693,3.000000,4.000000,3.143323,2.557445,...,2.115277,1.583929,4.000000,2.576050,2.000000,3.000000,0.000000,2.000000,3.048185,2.000000
99,1.000000,4.000000,1.489225,1.847679,3.000000,1.947504,4.000000,1.000000,3.000000,2.670610,...,1.000000,5.000000,3.019064,2.628779,5.000000,2.684781,2.551353,2.039557,1.000000,4.000000

In [25]:
pd.DataFrame(CopieIncomplet).to_csv("toy_predictionCos.csv",index=False)

In [64]:
# A NE PAS LANCER
Somme=0

for i in range(100):
    for j in range(1000):
        Somme+=CopieIncomplet.iloc[i,j]-DataFrameC.iloc[i,j]
biais=Somme/(100*1000)

biais #avec Pearson

-0.0021285364487731904

In [65]:
# A NE PAS LANCER
Somme=0

for i in range(100):
    for j in range(1000):
        Somme+=abs(CopieIncomplet.iloc[i,j]-DataFrameC.iloc[i,j])
erreur=Somme/(100*1000)

erreur#avec Pearson

0.2685099336046532

In [26]:
# A NE PAS LANCER
Somme=0

for i in range(100):
    for j in range(1000):
        Somme+=CopieIncomplet.iloc[i,j]-DataFrameC.iloc[i,j]
biais=Somme/(100*1000)

biais #avec Cos

-0.00465638946651943

In [27]:
# A NE PAS LANCER
Somme=0

for i in range(100):
    for j in range(1000):
        Somme+=abs(CopieIncomplet.iloc[i,j]-DataFrameC.iloc[i,j])
erreur=Somme/(100*1000)

erreur#avec Cos

0.5552959982369233